.one {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.two {
  font-size: 50px;
}
.twentieight {
  font-size: 25px;
}
.three {
  width: 500px;
  border-radius: 10px;
}
.four {
  float: left;
  width: 500px;
  margin: 10px;
}
.five {
  display: block;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.six {
  width: 500px;
  border-radius: 10px;
  margin-right: auto;
}
.seven {
  width: 400px;
  border-radius: 10px;
  margin-right: auto;
}
.eight {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border-radius: 10px;
}
.nine {
  display: block;
  margin-right: auto;
  width: 500px;
  border-radius: 10px;
}
.tan {
  width: 500px;
  display: block;
  margin: auto;
  border-radius: 10px;
}
.eleven {
  display: block;
  margin-right: auto;
  width: 500px;
  border-radius: 10px;
}
.twelve {
  display: block;
  margin: auto;
  border-radius: 10px;
  width: 600px;
}
.thirteen {
  border-radius: 10px;
  width: 400px;
}
.fourteen {
  border-radius: 10px;
  width: 400px;
}
.fifteen {
  border-radius: 10px;
  width: 400px;
}
.sixteen {
  border-radius: 10px;
  width: 400px;
}
.seventeen {
  display: block;
  margin: auto;
  border-radius: 10px;
  width: 450px;
}
.eighteen {
  display: block;
  margin: auto;
  border-radius: 10px;
  width: 525px;
}
.nineteen {
  border-radius: 10px;
  width: 500px;
  float: left;
  margin: 10px;
}
.twentee {
  border-radius: 10px;
  width: 600px;
}
.twentione {
  border-radius: 10px;
  width: 600px;
}
.twentitwo {
  border-radius: 10px;
  width: 600px;
}
.twentithree {
  border-radius: 10px;
  width: 600px;
}
.twentifour {
  border-radius: 10px;
  width: 600px;
}
.twentifive {
  border-radius: 10px;
  width: 600px;
}
.twentisix {
  border-radius: 10px;
  width: 600px;
}
.twentiseven {
  border-radius: 10px;
  width: 600px;
}
